<div>
  <div class="banner py-5" style="z-index: 1;">
    <%= video_tag "cake.mp4", poster: "cake-poster.png", autoplay: true, muted: true, loop: true %>
      <div class="container d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1 class="text-uppercase mt-5 mt-xs-0" style="font-weight: 700">Pledge your birthday and give the gift of freedom</h1>
          <p>Justice and Care work with the police to rescue victims of slavery, bring criminal networks to justice and spark systemic change.</p>
          <%= link_to "I pledge my birthday", signup_path(campaign_type: "birthday"), class: "btn btn-primary" %>
        </div>
      </div>
  </div>

</div>
