<div>
  <div
    class="short banner py-5"
    style="height: 100vh; background-image: url('<%= asset_path "teachers.jpg" %>');">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="text-uppercase mt-5 mt-xs-0" style="font-weight: 700">Justice and Care Rescues People from Slavery.</h1>
        <p>Pledge us your birthday and give the gift of freedom</p>
        <%= link_to "Pledge my birthday", signup_path(campaign_type: 'birthday'), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
