<div>
  <div
    class="short banner py-5"
    style="height: 100vh; background-image: url('<%= asset_path "muskaton.jpg" %>'); background-blend-mode: darken">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="text-uppercase mt-5 mt-xs-0" style="font-weight: 700">Thank you for choosing to Run for Freedom!</h1>
        <p>Justice and Care work with the police to rescue victims of slavery, bring criminal networks to justice and spark systemic change.</p>
        <%= link_to "Create your fundraiser page", signup_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
