.banner {
    position: relative;
    
    display: flex;
    align-items: center;
    min-height: 100vh;

    &.short {
        min-height: 70vh;
        overflow-y: hidden;
    }

    color: $white;
    text-shadow: 0 0 3px rgba($black, .25);

    background-size: cover;
    background-position: top center;
    background-color: #666;
    background-blend-mode: overlay;
    
    &.plain {
        background-color: $black;
    }

    @media #{$desktop-not-tablet} {
        // doesn't work on mobile
        background-attachment: fixed;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
				opacity: .75;
    }

    > [class*="content"] {
        padding-top: 25vmin;
        padding-bottom: 25vmin;
    }

    .single & .center-content {
        h1::after {
            content: '';
            display: block;
            width: 5vw;
            border-bottom: solid 8px white;
            margin-left: auto;
            margin-right: auto;
            margin-top: $gutter;
        }
    }

    .left-content,
    .right-content {
        > * {
            position: relative;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
        }
    }

    .left-content {
        &::before {
            left: 0;
            background: linear-gradient(to right, rgba($black, 0.75), transparent);
        }
    }

    .right-content {
        &::before {
            right: 0;
            background: linear-gradient(to left, rgba($black, 0.75), transparent);
        }
    }

    @media #{$mobile-and-tablet} {
        .left-content,
        .right-content {
            &::before {
                width: 90%;
            }
        }
    }

    @media #{$desktop-small} {
        .left-content,
        .right-content {
            &::before {
                width: 50%;
            }
        }
    }
}
