.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: $gutter;
	color: $white;

	transition: all .5s;

	.fill & {
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
		background-color: rgba($black, 0.85);
	}

	& a {
		color: $white;
	}

	[class*="current"] {
		> a {
			border-bottom: solid 2px $red;
		}
	}

	nav {
		#menu-trigger {
			display: none;
		}

		li {
			text-transform: uppercase;
		}
	}

	@media #{$mobile-and-tablet} {
		padding-left: $gutter/2;
		padding-right: $gutter/2;

		nav {
			margin-top: -7vw;
			transition: margin .5s;

			> ul {
				display: none;

				.show-nav & {
					display: block;
				}

				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				overflow: auto;

				padding: 100px 5vw;
				text-align: right;

				background-color: rgba($black, 0.85);

				> li {
					margin-bottom: 5vw;
				}
			}

			#menu-trigger {
				display: block;
				float: left;
				cursor: pointer;

				.fa-times {
					display: none;
				}

				.show-nav & {
					[class*="fa-"] {
						display: none;
					}
					.fa-times {
						display: inline;
					}
				}
			}

			.fill & {
				margin-top: 0;
			}
		}
	}

	@media #{$desktop} {
		nav {
			> ul {
				float: left;

				> li {
					position: relative;
					display: inline-block;
					margin-left: $gutter;

					> .sub-menu {
						display: none;

						position: absolute;
						top: 20px;
						left: $gutter/-2;
						width: 320px;
						padding: $gutter/2;

						a {
							display: inline-block;
							padding: 7px;
							background-color: rgba($black, 0.85);
						}
					}

					&:hover {
						> .sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}
