.logo {
    max-width: 150px;
    transition: all .5s;

    .fill & {
        max-width: 80px;
    }

    img {
        display: block;
    }

    @media #{$mobile} {
        max-width: 25vw;

        .fill & {
            max-width: 20vw;
        }
    }
}
