<div class="h-100 row m-0" style="min-height: 100vh">
  <div class="col col-md-5 d-flex justify-content-center align-items-center">
    <div class="container py-4" style="background: white">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
